.btn{
  border-radius: 30px;
  padding:$gutter__space/2 $gutter__space;
}

.start__project
{
  @include button-variant($primary_color, $primary_color);
  text-transform: uppercase;
}

.btn-secondary
{
  @include button-variant($secondary_color, $secondary_color);
}



